<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="./img/weather.png" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="https://usercontents-c.styleshare.io/images/32400638/640x-" width="350" , height="230" />
    </div>
    {{>footer}}
</body>

</html>